div(role='navigation').navbar.navbar-default.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class='icon-bar')
						span(class='icon-bar')
						span(class='icon-bar')
					a(href='/' , class='navbar-brand') MunchBee
				div.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						if(user)
							if(user.isAdmin)
								li
									a(href='/admin') Admin
							li
								a(href='/feedback') Feedback
						li
							a(href='/feedback') Contact Us
						if(user)
							li
								a(href='/logout') Logout
div.container
	div.row.image_row
		div.col-md-12
			img(id='bee_row', src='/images/bee_login.jpg')