extends layout

block content
	div.container
		div.row.wrapper
			div.col-sm-6.col-md-4
				h1.text-center.login-title Registration Details
					div.signup-wall
						form(class='form-signin', action='/register', method='POST')		
							input(name='firstName', class='form-control', placeholder='First Name', autofocus)
							input(name='lastName', class='form-control', placeholder='Last Name')
							input(type='text', name='username', class='form-control', placeholder='Email',required)
							input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
							input(name='contactNumber', class='form-control', placeholder='Contact Number')
							select(name='company', class='form-control', placeholder='Company')
								option(value='Thorogood') Thorogood
							br
							input(type='submit', class='btn btn-primary', value='Register')
			div.col-sm-6.col-md-7
				img(id='bee_login', src='/images/bee_login.jpg')
